{% extends "base.html" %}

{% block title %}
  Профиль {{ profile_user.username }}
{% endblock %}

{% block content %}
  <h1 class="mb-5 text-center">
    Страница пользователя {{ profile_user.username }}
  </h1>

  <small>
    <ul class="list-group list-group-horizontal justify-content-center mb-3">
      <li class="list-group-item text-muted">Имя: {{ profile_user.first_name }}</li>
      <li class="list-group-item text-muted">Фамилия: {{ profile_user.last_name }}</li>
      <li class="list-group-item text-muted">Регистрация: {{ profile_user.date_joined }}</li>
      <li class="list-group-item text-muted">
        Роль: {% if profile_user.is_staff %}Админ{% else %}Пользователь{% endif %}
      </li>
    </ul>

    {% if user.is_authenticated and request.user == profile_user %}
      <div class="text-center mb-3">
        <a class="btn btn-sm text-muted" href="{% url 'blog:edit_profile' %}">Редактировать профиль</a>
        <a class="btn btn-sm text-muted" href="{% url 'password_change' %}">Изменить пароль</a>
      </div>
    {% endif %}
  </small>

  <h3 class="mb-5 text-center">Публикации пользователя</h3>

  {% for post in page_obj %}
    <article class="mb-5">
      {% include "includes/post_card.html" %}
      <div class="text-muted">({{ post.comments.count }})</div>
    </article>
  {% endfor %}

  {% include "includes/paginator.html" %}
{% endblock %}
